<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/application.html}">

<head>
  <title>Sign Up</title>
</head>
<section layout:fragment="content">
  <!-- BEGIN -->
  <h1>Вход</h1>
  <form action="/users" method="post" th:object="${user}">
    <div class="mb-3">
      <label>First name</label>
      <input class="form-control" type="firstName" name="firstName">
    </div>
    <div class="mb-3">
      <label>Last name</label>
      <input class="form-control" type="lastName" name="lastName">
    </div>
    <div class="mb-3">
      <label>Email</label>
      <input class="form-control" type="email" name="email">
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </form>
  <!-- END -->
</section>
